ul {
    list-style-type: none ;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

li {
    padding: 4px 8px;
    border: solid 1px #333;
    border-radius: 1em;
}

body {
    max-width: 1154px;
}

header {
    column-gap: 12px;
}

header img:hover {
    border-radius: 10% 90% 10% 90% / 90% 10% 90% 10%;
}

header h1 {
    text-align: center;
}

header .print {
    flex-grow: 1;
}

header .print a {
    background-color: black;
    border-radius: 1em;
    padding: 4px 8px;
    color: white;
    text-decoration: none;
    float: right;
}

header .print a:hover {
    background-color: deeppink;
}

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

main div.col {
    flex-grow: 1;
}

main div.col.left {
    max-width: 360px;
}

main div.col.right {
    max-width: 744px;
}

@media (max-width: 1154px) {
    main div.col.left,
    main div.col.right {
        max-width: initial;
    }
    header {
        flex-direction: column;
    }
}

h2 {
    border-width: 1px; 
}

@media (prefers-color-scheme: dark) {
    body {
      background: #222;
    }

    * {
        color: #eee;
    }

    li {
        border-color: #eee;
    }

    header .print a {
        background-color: white;
        color: #333;
    }

    summary,
    h1, h2, h3 {
        color: white;
    }

    h2 {
        border-color: white;
    }
  
}