li {
    list-style-type: "▹ ";
    display: inline-block;
}

li:not(:last-child)::after {
    content: ", "
}

header .print {
    display: none;
}

header img {
    margin-right: 12px;
}

h2 {
    border-width: 1pt; 
}
